@font-face {
    font-family: "DMSans-Bold";
    src: url("../fonts/DMSans-Bold.ttf");
  }
  @font-face {
    font-family: "DMSans-BoldItalic";
    src: url("../fonts/DMSans-BoldItalic.ttf");
  }
  @font-face {
    font-family: "DMSans-Italic";
    src: url("./fonts/DMSans-Italic.ttf");
  }
  @font-face {
    font-family: "DMSans-Medium";
    src: url("../fonts/DMSans-Medium.ttf");
  }
  @font-face {
    font-family: "DMSans-MediumItalic";
    src: url("../fonts/DMSans-MediumItalic.ttf");
  }
  @font-face {
    font-family: "DMSans-Regular";
    src: url("../fonts/DMSans-Regular.ttf");
  }
  
  html {
    background-color: #fff;
    height: 100%;
  }
  .App {
    background-color: #fff;
    background-size: cover;
    height: 100%;
  }
  
  .MuiTabs-indicator {
    background-color: transparent !important;
  }
  
  .css-bcskbc-MuiPaper-root {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .css-v6wbn9-MuiAvatar-root {
    margin-top: -51px !important;
  }
  .css-so23x5-MuiPaper-root {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .MuiPaper-root ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  
  /* pagenation */
  
  .pagenationBtts {
    width: 100%;
    list-style: none;
    height: 0px;
    display: flex;
    justify-content: right;
    margin-top: -38px;
  }
  
  .pagenationBtts a {
    padding-top: 15px;
    width: 400px;
    top: 40;
    left: 90%;
    border-radius: 5px;
    font-size: 1px;
    color: "#2b2e2b";
    cursor: pointer;
  }
  
  .pagenationBtts a:hover {
    color: white;
  }
  
  .dragged .item {
    opacity: 0;
  }
  
  .pagenationActive a {
    color: white;
    background-color: #2b2eff;
  }
  
  .button-contianer {
    display: flex;
    justify-content: end;
  }
  
  .img-container {
  display: flex;
    overflow: hidden;
    width: 100%;
    border: 5px solid #ffffff;
    border-radius: 10px;
  }